/* main {
    background: #F5FAFE;
} */

.follow {
    border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
  
}

.jumbotron {
    background-size: cover;
    height: 300px !important;
    background-position: center;
    border-radius: 0 0 5px 5px !important;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.text-white {
    color: #ffffff;
}



.profile_image{
    position: absolute;
    bottom: 17px;
    left: 37%;
}



.title {
    padding: 1.25rem 0 0 1.25rem;
}



    
    @media screen and (max-width: 400px) {

        .row {
            display: grid !important;
        }

        .post_details {
            grid-column: 1/3 ;
            grid-row: 1/2 ;

        }
        .profile_details {
            grid-row: 2/3 ;
            grid-column: 1/3 ;
        }

        .col-md-4 {
            display: grid;
        }

        .description {
            grid-row: 2/3;
        }

        .followers {
            grid-row: 1/2;
        }
    }


    @media screen and (max-width: 529px) {

        .row {
            display: grid !important;
        }

        .post_details {
            grid-column: 1/3 ;
            grid-row: 1/2 ;

        }
        .profile_details {
            grid-row: 2/3 ;
            grid-column: 1/3 ;
        }
    }

    @media screen and (max-width: 549px) {

        .row {
            display: grid !important;
        }

        .post_details {
            grid-column: 1/3 ;
            grid-row: 1/2 ;

        }
        .profile_details {
            grid-row: 2/3 ;
            grid-column: 1/3 ;
        }

        .col-md-4 {
            display: grid;
        }

        .description {
            grid-row: 2/3;
        }

        .followers {
            grid-row: 1/2;
        }
    }


    