<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-9 my-4 border rounded" >
      <div class="my-3">
        <h3 class="display-4"> {{storyline.title}}</h3>
        <p><em>Posted by {{storyline.postedBy.name}} on {{storyline.createdAt | date}}</em> 
        <span class="text-muted">  </span>
        </p>
      </div>

    <p class="content mb-5">
      {{storyline.postbody}}
    </p>

    <!-- comment system -->
    <div class="row mt-5">
      
      <div class="col-md-12 ">
          <div class="d-flex justify-content-center">
              <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status" *ngIf = "isLoading">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

          <form [formGroup]="commentForm" (ngSubmit)="postComment()" class="mx-2" >
              <div class="form-group">
                  <div class="form-row">
                    <div class="col">
                      <label for=""></label>
                      <input type="text" name="username" id="username" class="form-control" formControlName = "name" placeholder="Name *">
                      <div *ngIf = "submitted && profileForm.controls.username.errors" class="text-danger">
                        <div *ngIf = "profileForm.controls.title.username.required">name is required </div>
                      </div>
                    </div>
                    <div class="col">
                      <label for=""></label>
                      <input type="text" name="name" id="name" class="form-control" formControlName = "email" placeholder="Email *">
                      <div *ngIf = "submitted && profileForm.controls.name.errors" class="text-danger">
                        <div *ngIf = "profileForm.controls.name.errors.required">name is required </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" formControlName="comment" placeholder="comments..."></textarea>
                </div>

                <button class="btn btn-info my-3" type = "submit">Comment</button>

                <div class="alert alert-success my-2 alert-dismissible fade show" role="alert" *ngIf = "isSuccess"> Comment successful
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
          </form>

          <hr>

         
      </div>

          <div class="col-md-12" *ngFor = "let unit of comments.message">
              <div class="card my-2">
                <p class="px-2"> {{unit.comment}} </p>
                
                <div class="d-flex px-2 ">
                    <p class="card-text flex-fill "><small class="text-muted"> by {{unit.name}}</small></p>
                    <p class="card-text "><small class="text-muted">{{unit.date | date: shortTime}}</small>
                  </div>
              </div>
            
          </div>
       

     

    

    </div>


    </div>
    <div class="col-md-3 my-4">
      <div class="card border-info">
        <p class="text-center h4 my-2"> {{storyline.postedBy.name}} <br> <span class="h5 text-muted py-2">  @{{storyline.postedBy.username}}</span>  </p>
        <p class="text-center text-muted"> 
            <i class="fab fa-twitter text-info px-2"></i>
            <i class="fab fab fa-github text-black px-2"></i>
           </p>
         <p class="px-2 text-muted"> Date joined: {{storyline.date | date:short}} </p> 
        <hr class="pl-2">
         <p class="p-2"> {{storyline.postedBy.description}} </p>
        <button class="btn btn-info my-3 mx-4"> Follow </button>
      </div>
    </div>
  </div>

  
  
</div>