
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row" >
          <div class="col-md-9 mt-3" >
            <div class="card col-md-12 my-3">
                <div class="d-flex justify-content-center py-2">
                    <div class="card flex-fill mx-2">
                      <p class="pt-2" routerLink = "/login"> <i class="fa fa-pen pl-4 pr-2 text-default"></i> Write a new story </p>
                  </div>
                    <div class="card flex-fill mx-2">
                      <p class="pt-2"> <i class="fa fa-poll pl-4 pr-2 "></i> create a new poll</p>
                    </div>
                    <!-- <div class="card flex-fill mx-2">
                      <p> <i class="fa fa-pen"></i> Write a new story</p>
                    </div> -->
                </div>
            </div>
              <h5>Trending Posts</h5>
              <div class="card my-3">
                <div class="card-header">
                  {{formValue.postTitle}}
                </div>
                <div class="card-body">
                  <p class="card-title"> {{formValue.postBody}}  </p>
                </div>
                <div class="card-footer d-flex">
                  <img src="../favicon.ico" alt="post owner avatar" class="rounded">
                  <p class="ml-3">post Auther</p>
                  <p class="ml-auto"><i class="fa fa-thumbs-up pr-2"></i>7 likes</p>
                </div>
              </div>

             
              
          </div>
          
          <div class="col-md-3 mt-3 d-flex flex-column">
            <div class="card my-2">
                <p> flex 1 </p>
            </div>

            <div class="card my-2">
                <p> flex 2 </p>
            </div>

            <div class="card my-2">
                <p> flex 3 </p>
            </div>
          </div>

        </div>
        
      </div>
