<app-navbar></app-navbar>

<div class="container ">
  <div class="loader" *ngIf="isLoader">
     
  </div>
  <!-- <div class="card col-md-12 my-3">

    <p class="pt-2" routerLink="/login"> <i class="fa fa-pen pl-4 pr-2 text-default"></i> Write a new story </p>

  </div> -->
  <h5 class="mt-4">Trending Posts</h5>
  <hr class="mt-3">
  <div class="row">
    <div class="col-md-6 " *ngFor="let post of posts ">
      <div class="card my-3  custom ">
          <h4 class="title "> <a class="post-title"   [routerLink]="['/post', post._id]">{{post.title}} </a> </h4>
        <div class="card-body">
          <p class="card-title post-body" [routerLink]="['/post', post._id]"> {{post.postbody | truncate:250 }} </p> 
          <hr>
          <div class="d-flex">
            <p class="card-text flex-fill "><small class="text-muted username" > by {{post.postedBy.name}}</small></p>
            <!-- <p class="card-text flex-fill "><small class="text-muted"> <i class=" far far fa-comment-dots"></i> comment count</small></p> -->
            <p class="card-text "><small class="text-muted"> {{post.createdAt | date: shortTime}}</small>
          </div>

        </div>


      </div>



    </div>



  </div>
</div>

<button *ngIf="isShow" class="fas fa-arrow-up p-2 text-info top" (click)="goToTop()"> </button>
<app-footer></app-footer>
