<app-navbar></app-navbar>
<div class="container">

  <section>
    <div class="row">
        <div class="col-md-3  mt-5">
            <div class="card">
          <div class="card-header">
            <p>Dashboard Manager</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" ><i class="fa fa-user pr-3"></i> Profile</li>
            <li class="list-group-item" ><i class="fa fa-edit pr-3"></i> Create Post</li>
            <li class="list-group-item" ><i class="fa fa-edit pr-3"></i> Timeline</li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 offset-md-1 border mt-5 ">
        <h5 class="my-2">Edit your post</h5>
        <form [formGroup]="updatePostForm" (ngSubmit)="submitEdit()">
          <div class="alert alert-success my-2 alert-dismissible fade show" role="alert" *ngIf="success">
            Post edited successful
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="form-group">
            <label for=""></label>
            <input type="text" name="title" id="title" class="form-control" formControlName="title"
              placeholder="Post Title" />
            <div *ngIf="submitted && postForm.controls.title.errors" class="text-danger">
              <div *ngIf="postForm.controls.title.errors.required">
                Post title is required
              </div>
            </div>
          </div>
          <div class="form-group">
              <quill-editor formControlName="postbody" [styles]="editorStyle" [modules]="config" ></quill-editor>
          </div>

          <div *ngIf="submitted && postForm.controls.postbody.errors" class="text-danger">
            <div *ngIf="postForm.controls.postbody.errors.required">
              Post content is also required
            </div>
          </div>
          <div class="form-group">
            <tag-input formControlName = "tags" [maxItems]='5'></tag-input>
          </div>
          <button class="btn btn-info my-3 mr-3" type="submit">Save</button>
          <button class="btn btn-danger my-3" type="submit" (click)="cancelUpdate()">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </section>
</div>
